    html{
        background-color: black;
        height: 100%;
        width: 100%;
    }


/*--------*/

    #header{
        background-color: black;
        border-bottom: 2px solid wheat;
        position: fixed;
        width: 100%;
        z-index: 100;
    }
    #header a{
        text-decoration: none;
        font-size: 1.05em;
        color: white;
        text-shadow: 0 0 3.5px wheat;
    }
    #header .navMenu .active{
        color: #F3AB39;
        text-shadow: black;
    }
    #header a:hover{
        color: rgb(15, 154, 179);
        text-shadow: 0 0 3.5px rgb(64, 213, 240);
    }

/*--------*/

    #main{  
        padding-top: 4%;
        padding-bottom: 1.5%;


        background: rgb(125,126,125);
        background: -moz-linear-gradient(top,  rgb(125,126,125) 0%, rgb(14,14,14) 100%);
        background: -webkit-linear-gradient(top,  rgb(125,126,125) 0%,rgb(14,14,14) 100%);
        background: linear-gradient(to bottom,  rgb(125,126,125) 0%,rgb(14,14,14) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
    }
    #main a{
        width: fit-content;
        text-decoration: none;
        color: white;
        text-shadow: 0 0 3.5px wheat;
    }
    #main .sideContent a{
        font-size: 1.1em;
    }
    #main a:hover{
        color: rgb(15, 154, 179);
        text-shadow: 0 0 3.5px rgb(64, 213, 240);
    }
    #main .sideContent .active{
        color: #F3AB39;
        text-shadow: black;
    }
 /*--------*/

    #footer{
        
        border-top: 2px solid wheat;
        padding: 0% 0;
        background-color: black;
    }
    #footer a{
        text-decoration: none;
        margin: 0px 80px;
    }
    #footer a i{
        font-size: 1.5em;
        color: white;
        text-shadow: 0 0 3.5px wheat;
    
        padding: 0px 0px;
    }
    #footer i:hover{
        color: rgb(15, 154, 179);
        text-shadow: 0 0 3.5px rgb(64, 213, 240);
    }
    #footer.active{
        color:#F3AB39;
        text-shadow: black;
    }

/*-------------------------------------------------*/
/*Logo*/

    .imagemLogo{
        padding-top: 5px;
        width: 19%;
    }

    .logoBlock{
        background-color: rgb(59, 59, 59);
        padding: 0 0 0 5%;
    }
    .logo{
        color: #F3AB39;
        text-shadow: black;
        
        float: left;
    }

    .logo h1{
        margin-top: 10px;
        font-size: 140%;
    }


/*-------------------------*/
/*Menu*/

    .menuBlock{
        background-color: rgb(59, 59, 59);

        display: flex;
        flex-direction: column;
        justify-content: center;
        
        padding: 0;
    }
    .menu > nav{
        text-align: center;
    }
    .menu > nav > a{
        
        padding: 0 5% 0 5%;
        border-right: 1px solid wheat ;
    }
    .menu > nav > a:last-child{
        border: none;
    }


/*-------------------------*/
/*Login*/

    .loginBlock{
        background-color: rgb(59, 59, 59);


        background-color: rgb(59, 59, 59);

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5% 0 0;
    }
    .login > nav{
        float: right;   
        width: 100%; 
        text-align: right;
        
    }
    .login > nav > a{
        
        padding: 0 5% 0 5%;
        border-right: 1px solid wheat ;
    }
    .login > nav > a:last-child{
        border: none;
    }


/*-------------------------------------------------*/
/*Caroussel*/

    .carousselBlock{
        border: 1px solid wheat;
        border-radius: 0.5%;
        
        margin: 0;
        padding: 0;
    }
    .carousselBlock img{
        border-radius: 0.5%;
        height: 500px;
    
    }
/*-------------------------*/
/*Cards Equipe*/

    .imgEquipeLucas img{
        width: 120%;
        border-radius: 1%;
    }

    .areaEquipe{
        display: flex;
        margin-left: 5.5%;
    }

    .titulo-Equipe{
        margin-top: 40px;
        padding-left: 20px;
    }

    .titulo-Equipe h1{
        color: #F3AB39;
        text-shadow: black 2px 2px;
    }

    .card-Equipe{
        margin-top: 40px;
        margin-left: 40px;

        border-color: #b38030;
        border-width: 1px;

        background-color: #3B3B3B;
    }

    .card-Equipe h5{
        color: #F3AB39;
    }

    .card-Equipe p{
        color: white;
    }

    .cardGroupMain{

        display: flex;
        align-content: center;
        overflow-x: scroll;
        
        padding: 0.8% 0;
        
        height: 620px;
    }
    .cardGroupMain::-webkit-scrollbar{
        display: none !important;
    }
    
    .cardBlock{
        width: 25%;
        height: 40px;
        margin: 0px 40px;
        padding: 0 0 0 0;

    }
    .cardBlock:first-child{
        margin-left: 0;
    }
    .cardBlock:last-child{
        margin-right: 0;
    }
    .cardGroupMain .cardBlock img{
        border-radius: 100%;
        height: 250px;
        width: 250px;

        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .cardGroupMain .cardBlock .card{
        background-color: rgb(59, 59, 59, 0.0) !important;
        /* border: 1px solid wheat; */
    }
    .cardGroupMain .cardBlock .card-title{
        color: white;
        text-shadow: 0 0 3.5px wheat;

    }
    .cardGroupMain .cardBlock .card-text{
        color: white;
        text-align: justify;

    }
    .cardGroupMain .cardBlock .card-body{
        text-align: center;
    }

/*Cards da pagina Equipe*/
    .cardGroupMainEquipe{
        display: flex;
        overflow-x: unset;

        padding: 0.8% 0;
        height: 620px;

    }

/*-------------------------*/
/*Common Content*/

    .commonContentBlock{
        margin: 20px 0px;
        padding: 0 15px 0 0;
    }
    .commonContentBlock p{
        color: wheat;

        font-size: 1.1em;
        text-align: justify;
    }
    .commonContentBlock h1{
        font-size: 1.5em;

        color: white;
        text-shadow: 0 0 3.5px wheat;

        text-align: center;
        margin-bottom: 2.9%;
    }
    .commonContentBlock h2{
        font-size: 1.25em;

        color: white;
        text-shadow: 0 0 3.5px wheat;

        text-align: justify;
    }
    .commonContentBlock h3{
        margin: 5% 0;
        font-size: 1.4em;

        color: white;
        text-shadow: 0 0 3.5px wheat;

        text-align: center  ;
    }

    .commonContentBlock .UL1{
        margin-left: 10%;
    }
    .commonContentBlock li{
        color: rgb(247, 178, 52);

        font-size: 1.1em;
        text-align: justify;
    }
    .commonContentBlock iframe{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
/*-------------------------*/
/*Side Content*/

    .sideContentBlock{
        /* border: 1px solid wheat;
        border-radius: 1%; */
        margin: 20px 0px;
        padding: 0 0 0 15px;
    }
    .sideContent{
        padding: 0px;
    }
    .sideContent h1{
        font-size: 1.5em;

        color: white;
        text-shadow: 0 0 3.5px wheat;

        text-align: center;
        margin-bottom: 10%;
    }
    .sideContent h2{
        font-size: 1.25em;

        color: white;
        text-shadow: 0 0 3.5px wheat;

        text-align: justify;
    }
    .sideContent li{
        list-style: none;
    }
    .sideContent li a{
        text-align: left;
        display: block;
        margin: 30% 0;
    }

/*-------------------------------------------------*/

    .midiaBlock{
        width: 100%;
        padding: 1% 0%;
    }
    .midia{
        align-items: center;
        display: flex;
        justify-content: center;

    }
/*-------------------------*/

    .rights{
        align-items: center;
        display: flex;
        justify-content: center;

        color: grey;
    }

/*----------------------------------------------------------------------*/

.subtituloEmpresa{
    margin-left: 10%;
    margin-top: 5px;
    padding-bottom: 5%;
    
    color: white;
}

.subtituloEmpresa h3{
    
    color: #F3AB39;
    
    font-size: 30px;
}



/*Celular*/
/* @media screen and (max-width:720px){
    #header{
        background-color: violet !important;
    }
    .carousselBlock{
        display: none;
    }
    #main{
        padding-top: 100px;
    }
} */

/*----------------------------------------------------------------------*/
/*Tablet*/
